/* https://fls.guru/grid.html */
body{
	background-color: #333;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
}
.wrapper {
	min-height: 100%;
	display: grid;
	grid-template: minmax(100px, auto) 1fr minmax(70px, auto)/ 1fr;
	grid-template-areas: 
		"header"
		"main"
		"footer";
}
.header {
	grid-area: header;
	padding: 15px;
	background-color: #794f45;
	align-items: center;
	display: grid;
	/* grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr; */
	grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 600px) 1fr;
}
.header__logo {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: white;
	grid-column: 2 / 3;
}
.header__menu {
	grid-column: 3 / 4;
}
.header__list {
	display: grid;
	grid-auto-flow: column;	
	justify-items: end;		
}
.header__list li{
	/* column-gap: 20px; */
	margin-left: 30px;

}
.header__link {
	color: white;
	font-size: 18px;
}



@media (max-width:992px){
	.header__menu {
		display: grid;
		justify-content: end;
	}
	.header__list {
		display: none;
	}

	.header__burger {
		width: 30px;
		display: grid;
		align-items: center;
		grid-template: repeat(3,8px)/1fr;
	}
	
	.header__burger::before,
	.header__burger::after{
		content: "";
		height: 2px;
		width: 30px;
		background-color: white;
	}
	
	.header__burger span{
		height: 2px;
		width: 30px;
		background-color: white;
	}
}

.main {
	padding: 30px 15px;
}


.sidebar {
	
	background-color: #7a956b;
	padding: 30px 15px;
	margin-bottom: 30px;
}
.sidebar__menu {
}
.sidebar__list {
}
.sidebar__list li{
	margin-bottom: 15px;
}
.sidebar__link {
	color: white;
	font-size: 20px;
}

.content__title {
}
.content__galary {
	margin-bottom: 20px;
}

@media (min-width:992px){
	.main {
		display: grid;
		grid-area: main;
		grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 600px) 1fr;
	}
	.sidebar {
		grid-column: 2/3;
		margin-bottom: 0px;
	}

	.content {
		grid-column: 3/4;
		padding-left: 10px;
	}
	
}


.galary {
}
.galary__title {
	font-size: 24px;
	text-align: center;
	margin-bottom: 20px;
}
.galary__items {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.gallery__item {
	/* position: relative; */
	/* padding-bottom: 85%;; */
	aspect-ratio: 16 / 9;
	
}
.gallery__item img{
	/* position: absolute; */
	/* top: 0;
	left: 0; */
	width: 100%;
	height: 100%;  
	object-fit: cover;
}
.gallery__item_big {
	
}

@media (min-width:767px){

	.gallery__item_big {
		grid-column: span 2;
		grid-row: span 2;
	}
}
.content__product {
}
.product {
}
.product__title {
	font-size: 24px;
	text-align: center;
	margin-bottom: 20px;
}
.product__items {
	display: grid;
	column-gap: 30px;
	row-gap: 50px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	/* grid-auto-rows: 1fr; */
}
.product__item {
	display: grid;
	grid-auto-flow: row;
	grid-template: auto 1fr minmax(40px, auto) / 1fr ;
}
.product__image {
	aspect-ratio: 19 / 6;
	margin-bottom: 20px;
}
.product__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.product__name {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 20px;
}
.products__button {
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 40px;
	background-color: #77608d;
	padding: 0px 20px;
	justify-self: start;
}
.footer {
	background-color: #77608d;
	grid-area: footer;
	display: grid;
	padding: 15px;
	grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto,600px) 1fr;
	align-items: center;
}
.footer__copy {
	
}
.footer__text {
	
}

@media (min-width:550px){
	.footer__copy {
		grid-column: 2/3;
	}
	.footer__text {
		grid-column: 3/4;
		text-align: right;
	}
}

@media (max-width:550px){
	.footer {
		grid-template: 1fr 1fr / 1fr;
		text-align: center;
	}
	.footer__text {
		order: 1;
	}
	.footer__copy {
		order: 2;
	}
}