.wrapper {
    background-color: black;
}
.content {
    padding: 50px;
}
.content:hover .content__circle {
    animation-play-state: paused;
}
.content__circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    left: 0;
    background-color: #fff;
    animation-name: white-circle;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    /* animation-direction: alternate-reverse; */
    /* animation-direction:reverse */
    /* animation-direction:alternate; */
    animation-delay: 0s;
    animation-fill-mode: forwards;
/* duration | animation-timing-function| animation-iteration-count|animation-direction| animation-delay |animation-fill-mode*/
    /* animation: white-circle 1s linear infinite alternate 0s forwards; */
    animation: white-circle 1s linear infinite alternate 0s forwards,  red-circle 5s ease infinite alternate 0s forwards
}

@keyframes white-circle {
    0% {
        left:0
    }
    50%{
        border-radius: 0;
    }
    100% {
        left: 500px;
    }
}

@keyframes red-circle {
    0% {
        background-color: #fff;
    }
    50%{
        background-color: red;
    }
    100% {
        background-color: #fff;
    }
}