
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.text-original{
    
    font-size: 20px;
    line-height: 25px;
    p {
        margin-bottom: 30px;
    }
}
.text {
    font-family: "PT Sans";
    font-size: 20px;
    line-height: 25px;
    p {
        margin-bottom: 30px;
    }
}